body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.header {
    background-image: url(/style/images/space_phone.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
    padding: 20px;
}

header {
    background-image: url(/style/images/space_phone.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 3.5em;

    position: fixed;
    top: 0;
    left: 0;

    margin: 0 auto;
    padding: 1em 0;

    font-size: medium;
}

.under_header {
    height: 3.5em;
}

.header-icon_container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    line-height: 3.5em;
    text-align: center;
}

.roscosmos_icon {
    background-image: url(/style/images/roscosmos_icon.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 112px;
    background-position-y: -5.5px;
}

.header-navbar_container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    line-height: 3.5em;
    text-align: center;
}

.header-user_container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    line-height: 3.5em;
    text-align: center;
}

.header-title {
    margin-top: 2.5em;
    font-family: 'ST-SimpleSquare', sans-serif;
    font-size: xxx-large;
    text-align: center;
}

.header-subtitle {
    font-weight: bolder;
    font-size: large;
    text-align: center;

    margin: 2.5em 0;
}

.search_container {
    margin-top: 20px;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;

    margin-top: 20px;
}

.card_container__simple {
    margin-top: 20px;
}

.card {
    display: block;
    max-width: 300px;
    background-color: #99CCFF;
}

.card__detailed {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
}

.card-img_container {
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: 200px;
}

.card-img_container__detailed {
    display: block;
    width: 500px;
    height: 500px;
}

.card-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    width: 100%;
    height: 100%;
}

.card-btn_container {
    display: flex;
}
