.card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.card {
    display: block;
    max-width: 300px;
    background-color: #99CCFF;
}

.card-img_container {
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
