<!DOCTYPE html>
<html>
<head>
<title>{{ . }}</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/st-simplesquare" rel="stylesheet">
<link rel="stylesheet" href="/style/index.css">
</head>
<body>
  <div class="header">
    <header>
      <div class="header-icon_container">
        <div class="roscosmos_icon"></div>
        <div>Роскосмос</div>
      </div>
      <div class="header-navbar_container">
        <div>Главная</div>
        <div>Услуги</div>
        <div>Галерея</div>
        <div>Контакты</div>
      </div>
      <div class="header-user_container">
        <div>Иконка</div>
        <div>Алик Нигматуллин</div>
      </div>
    </header>

    <div class="header-title">
      Космодром Восточный
    </div>

    <div class="header-subtitle">
      Один из самых масштабных проектов России ХХI века
    </div>
    <!-- Внутри картинки надпись: заявки на выведение КА на орбиту -->
  </div>

  <div class="card_container">
    <div class="card">
      <div class="card-img_container">
        <img src="/" alt="Картинка карточки"/>
      </div>
      <div class="card-content">
        <div class="card-text_container">
          <h3>
            "Заголовок"
            {{ .title }}
          </h3>
          <p>
            Описание: <span>"Вставить описание"</span>
            Грузоподъёмность: <span>"Вставить грузоподъёмность"</span>
            Планируемая дата полёта: <span>"Вставить дату полёта"</span>
            Цена услуги: <span>"Вставить цену услуги"</span>
          </p>
        </div>
        <div class="card-btn_container">
          <button>
            Подробнее
          </button>
        </div>
      </div>
    </div>
  </div>
  <footer>Как связаться с нами</footer>
</body>
</html>